<h1>
  wdi shoebill:
</h1>

<h5>
  find your flock.
</h5>

<div class="groups">
    <% @sorted_groups.each_with_index do |sg, index| %>
    <div class="group">
      <h4>
          Flock <%= index + 1 %>:
      </h4>
      <div class="students">
        <% sg.each do |student| %>
          <p><%= student %></p>
          <% end %>
      </div>
    </div>
    <% end %>
</div>
