body {
  background: url('/img/shoebill-bird.jpg');
  background-size: cover;
  background-repeat: round;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 50em;
  text-shadow: 2px 2px red;
}

.container h1,
.container h5 {
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-family: 'Amatic SC';
  text-align: center;
  position: relative;
  top: 0%;
  font-size: 50px;
}

.groups {
  color: white;
  font-family: 'Reenie Beanie';
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  width: 80%;
  height: 25em;
  font-size: 25px;
  font-weight: 700;
  margin: 0 auto;
}

.group {
  border: 1px solid white;
  border-radius: 18px;
}

.group .students {
  padding-left: 2%;
}
